<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69898860936-nh5pbt7i91f61tkqf1gv18vjvj1dghkv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69898860936-nh5pbt7i91f61tkqf1gv18vjvj1dghkv</string>
	<key>API_KEY</key>
	<string>AIzaSyBR6QEtw0AjbpUp9fIo6pe_B_t8L049A0g</string>
	<key>GCM_SENDER_ID</key>
	<string>69898860936</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstAppFlutter</string>
	<key>PROJECT_ID</key>
	<string>firstproject-99744</string>
	<key>STORAGE_BUCKET</key>
	<string>firstproject-99744.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69898860936:ios:14d2c1e48407a2c84e623d</string>
</dict>
</plist>